<div class="container">
    <div class="row">
        <header class="page-header col-md-12">
            <h2>About me</h2>
        </header>
    </div>
    <div class="row">
        <article class="col-md-12">
            <figure class="text-center">
                <img src="/Images/about/main.jpg" class="img-responsive img-thumbnail">
                <noscript>&lt;img src="/Images/about/main.jpg" class="img-responsive img-thumbnail"&gt;</noscript>
            </figure>
            <br />
            <div>
                <p class="lead">
                    Hello and welcome to my private website. Here is my place of wisdom, where I can publish my work and my pride about who I am and who I want to be. There is no better thing in life then just being yourself. If you have any doubts or feel alone in that awesome plus size body, come to me and let me show you the way you supposed to be happy.
                </p>
                <p>
                    Claudia Floraunce is a Plus size model and an aspiring actress from Austria, residing in Los Angeles. I have always been fascinated with fashion and love being in front of the camera. I have been blessed with a lot of confidence and want to show people that you can be beautiful at any size and any age. There are numerous companies offering plus size clothing, but will only have a size 16 or smaller model their clothing line in print or at fashion shows. I am determined to change that. I am very fit and have been doing martial art for ten years training for a black belt. I can act and do my own stunts. I am an accomplished cook who has worked for a well know Hollywood celebrities and would like share my experience and recipes with you in my upcoming web cooking show Curvaceous Cuisine. You can watch my videos on youtube, just browse my <a href="http://www.youtube.com/user/ClaudiaFloraunce">YouTube channel</a>.
                </p>
                <blockquote class="pulled-left">
                    <p>Great self esteem comes from inside and feels hot and wonderful <small>Emme</small></p>
                </blockquote>
                <p>
                    As part of this website is designed to let you to know me better, the other thing I had in mind is that I want to help people who have trouble making themself comfortable with the way they look. Because they are struggling every day with the only one thing on their mind, and that is the word "fat". That is not the truth and i am a living proof that you can be as beautiful as you look and be proud of what you are. Contact me or ask me via "Ask Claudia" section and let me show you the real meaning of plus size happiness.
                </p>
            </div>
        </article>
    </div>
    <div class="row">
        <h3>Details</h3>
        <table class="table table-striped hidden-xs hidden-sm">
            <thead>
                <tr class="active">
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Bust</th>
                    <th>Waist</th>
                    <th>Hips</th>
                    <th>Cup</th>
                    <th>Dress</th>
                    <th>Hair color</th>
                    <th>Eye color</th>
                    <th>Shoot nudes</th>
                    <th>Experience</th>
                    <th>Compensation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>180 cm</td>
                    <td>141 kg</td>
                    <td>112 cm</td>
                    <td>97 cm</td>
                    <td>163 cm</td>
                    <td>DDD</td>
                    <td>26</td>
                    <td>Brown</td>
                    <td>Blue</td>
                    <td><strong>No</strong></td>
                    <td>Experienced</td>
                    <td>Any</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped hidden-md hidden-lg">
            <tr>
                <td><strong>Height</strong></td>
                <td>180 cm</td>
            </tr>
            <tr>
                <td><strong>Weight</strong></td>
                <td>141 kg</td>
            </tr>
            <tr>
                <td><strong>Bust</strong></td>
                <td>112 cm</td>
            </tr>
            <tr>
                <td><strong>Waist</strong></td>
                <td>97 cm</td>
            </tr>
            <tr>
                <td><strong>Hips</strong></td>
                <td>163 cm</td>
            </tr>
            <tr>
                <td><strong>Cup</strong></td>
                <td>DDD</td>
            </tr>
            <tr>
                <td><strong>Dress</strong></td>
                <td>26</td>
            </tr>
            <tr>
                <td><strong>Hair color</strong></td>
                <td>Brown</td>
            </tr>
            <tr>
                <td><strong>Eye color</strong></td>
                <td>Blue</td>
            </tr>
            <tr>
                <td><strong>Shoot nudes</strong></td>
                <td><strong>NO</strong></td>
            </tr>
            <tr>
                <td><strong>Experience</strong></td>
                <td>Experienced</td>
            </tr>
            <tr>
                <td><strong>Compensation</strong></td>
                <td>Any</td>
            </tr>
        </table>
    </div>
</div>
