@using Claudia.Site.Helpers
<div class="container">

    <div class="row"></div>

    @Html.Partial("Widgets/_WidgetContainer")

    <br />
    <br />
    <div class="row hidden-sm hidden-xs">
        @Html.GoogleAds("ca-pub-7452565604978410", "9314897158", 468, 60)
    </div>
</div>