<div class="container">
    <div class="row">
        <header class="page-header col-md-12">
            <h2>Claudia recipes - Curvaceous Cuisine</h2>
        </header>
        <article class="col-md-12">
            <figure class="text-center">
                <img src="/Images/recipes.jpg" class="img-responsive img-thumbnail">
                <noscript>&lt;img src="/Images/recipes.jpg" class="img-responsive img-thumbnail"&gt;</noscript>
            </figure>
            <br />
            <div class="indented">
                <p class="lead">
                    I am an accomplished cook who has worked for a well know Hollywood celebrities and would like share my experience and recipes with you in my upcoming web cooking show Curvaceous Cuisine. Feel free to browse my recipes and also you can download them on your computer for easier reading. If you liked my recipe, recommend me to your friends and if you or your friend has some recipes, click on the button below to send me some. If i like it, maybe it will be published :)
                </p>
                <p class="text-center">
                    <a href="#" class="btn btn-info btn-large">Send me your recipe and be published!</a>
                </p>
            </div>
        </article>
        <div class="col-md-12 col-sm-12">
            <h3>Recipe categories</h3>
            <hr />
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/recipe_menu_pic1.jpg" width="300" height="200">
                        <div class="caption">
                            <br />
                            <p><a href="#" class="btn btn-info btn-block" role="button">Soups & Salads</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/recipe_menu_pic2.jpg" width="300" height="200">
                        <div class="caption">
                            <br />
                            <p><a href="#" class="btn btn-info btn-block" role="button">Desserts</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/recipe_menu_pic3.jpg" width="300" height="200">
                        <div class="caption">
                            <br />
                            <p><a href="#" class="btn btn-info btn-block" role="button">Cookies & Candy</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/recipe_menu_pic4.jpg" width="300" height="200">
                        <div class="caption">
                            <br />
                            <p><a href="#" class="btn btn-info btn-block" role="button">Appetizers & Beverages</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/recipe_menu_pic5.jpg" width="300" height="200">
                        <div class="caption">
                            <br />
                            <p><a href="#" class="btn btn-info btn-block" role="button">Breads & Rolls</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/recipe_menu_pic6.jpg" width="300" height="200">
                        <div class="caption">
                            <br />
                            <p><a href="#" class="btn btn-info btn-block" role="button">Vegetables & Side dishes</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/recipe_menu_pic7.jpg" width="300" height="200">
                        <div class="caption">
                            <br />
                            <p><a href="#" class="btn btn-info btn-block" role="button">Main dishes</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/recipe_menu_pic8.png" width="300" height="200">
                        <div class="caption">
                            <br />
                            <p><a href="#" class="btn btn-info btn-block" role="button">This & That</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
