<div class="container">
    <div class="row">
        <header class="page-header col-md-12">
            <h2>Video blog</h2>
        </header>
        <article class="col-md-12">
            <figure class="text-center">
                <img src="/Images/blog.jpg" class="img-responsive img-thumbnail">
                <noscript>&lt;img src="/Images/blog.jpg" class="img-responsive img-thumbnail"&gt;</noscript>
            </figure>
            <br />
            <div>
                <p class="lead">
                    For those who haven't had a chance to see my <a href="http://www.youtube.com/user/ClaudiaFloraunce" class="text-danger">Youtube channel</a> i present you some of my videos that can show you the way to true happines.
                </p>
                <blockquote class="pulled-left">
                    <p>Keep calm and hug the curves <small>Claudia</small></p>
                </blockquote>
                <p>
                    Since i have new and special video series called "Embrace your curves". These series are fundamentals for the self confidence you need to have and the first step to become a true self-respected person. Accept the way you look and who you are and then you will realize how wonderfull life can be. Thank you for watching and please feel free to share your own views and experience with me, and our audience. Let's raise awareness together.
                </p>
                <div class="row">
                    <header class="page-header col-md-12">
                        <h2>Latest videos</h2>
                    </header>
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                            <div class="thumbnail" style="background-color: transparent;">
                                <div class="caption">
                                    <h3 class="text-center">Embrace your curves - Episode 1</h3>
                                    <div class="video-container text-center">
                                        <embed src="http://www.youtube.com/embed/DYN2ul-98dI" height="200" width="350" />
                                    </div>
                                    <p>As a plus size woman I deal with being called fat on a regular basis. Find out how to deal with this problem and which steps to take so that it does not affect you in a negative way. Love yourself and embrace your curves!</p>
                                    <p class="text-center"><a href="http://www.youtube.com/watch?v=DYN2ul-98dI" target="_blank" class="btn btn-info" role="button">Open video on YouTube</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                            <div class="thumbnail" style="background-color: transparent;">
                                <div class="caption">
                                    <h3 class="text-center">Embrace your curves - Episode 2</h3>
                                    <div class="video-container text-center">
                                        <embed src="http://www.youtube.com/embed/MFWmv2ieM8I" height="200" width="350" />
                                    </div>
                                    <p>Most people fail in diets because they try to lose weight for someone else or for the wrong reasons. Find our what it takes to become comfortable with yourself. Be yourself because everyone else is already taken.</p>
                                    <p class="text-center"><a href="http://www.youtube.com/watch?v=MFWmv2ieM8I" target="_blank" class="btn btn-info" role="button">Open video on YouTube</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                            <div class="thumbnail" style="background-color: transparent;">
                                <div class="caption">
                                    <h3 class="text-center">Plus size Modeling tips by Claudia Floraunce - Episode 1</h3>
                                    <div class="video-container text-center">
                                        <embed src="http://www.youtube.com/embed/16_CFgNlQ3c" height="200" width="350" />
                                    </div>
                                    <p>Tips on how to start a modeling career? Follow this short tips...</p>
                                    <p class="text-center"><a href="http://www.youtube.com/watch?v=16_CFgNlQ3c" target="_blank" class="btn btn-info" role="button">Open video on YouTube</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                            <div class="thumbnail" style="background-color: transparent;">
                                <div class="caption">
                                    <h3 class="text-center">Plus size Modeling tips by Claudia Floraunce - Episode 2</h3>
                                    <div class="video-container text-center">
                                        <embed src="http://www.youtube.com/embed/v-IarErZmFc" height="200" width="350" />
                                    </div>
                                    <p>Tips on how to avoid modeling scams! A must watch clip!</p>
                                    <p class="text-center"><a href="http://www.youtube.com/watch?v=v-IarErZmFc" target="_blank" class="btn btn-info" role="button">Open video on YouTube</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                            <div class="thumbnail" style="background-color: transparent;">
                                <div class="caption">
                                    <h3 class="text-center">Plus size Modeling tips by Claudia Floraunce - Episode 3</h3>
                                    <div class="video-container text-center">
                                        <embed src="http://www.youtube.com/embed/l8gXbeXQ2Ms" height="200" width="350" />
                                    </div>
                                    <p>Tips on how to stay strong in the modeling business!</p>
                                    <p class="text-center"><a href="http://www.youtube.com/watch?v=l8gXbeXQ2Ms" target="_blank" class="btn btn-info" role="button">Open video on YouTube</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                            <div class="thumbnail" style="background-color: transparent;">
                                <div class="caption">
                                    <h3 class="text-center">Plus size Entertainment: Claudia Floraunce with Stacy Hall</h3>
                                    <div class="video-container text-center">
                                        <embed src="http://www.youtube.com/embed/agW6yuyiXwc" height="200" width="350" />
                                    </div>
                                    <p>Very good and informative interview with the comedy starr, Stacy Hall :)</p>
                                    <p class="text-center"><a href="http://www.youtube.com/watch?v=agW6yuyiXwc" target="_blank" class="btn btn-info" role="button">Open video on YouTube</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                            <div class="thumbnail" style="background-color: transparent;">
                                <div class="caption">
                                    <h3 class="text-center">Claudia Floraunce - Things I do well</h3>
                                    <div class="video-container text-center">
                                        <embed src="http://www.youtube.com/embed/Pyn_bFffkxA" height="200" width="350" />
                                    </div>
                                    <p>Claudia Floraunce bears her heart and shares her story with you! In this episode you will learn how to deal with negative people around you.</p>
                                    <p class="text-center"><a href="http://www.youtube.com/watch?v=Pyn_bFffkxA" target="_blank" class="btn btn-info" role="button">Open video on YouTube</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
                            <div class="thumbnail" style="background-color: transparent;">
                                <div class="caption">
                                    <h3 class="text-center">Claudia Floraunce - Things I do well</h3>
                                    <div class="video-container text-center">
                                        <embed src="http://www.youtube.com/embed/31tVaQQRczI" height="200" width="350" />
                                    </div>
                                    <p>In this episode you will learn how plus size people feel on an airplane.</p>
                                    <p class="text-center"><a href="http://www.youtube.com/watch?v=31tVaQQRczI" target="_blank" class="btn btn-info" role="button">Open video on YouTube</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
