<div class="container" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="row">
        @if (ViewBag.Announcement != null)
        {
            var tmp = ViewBag.Announcement as Claudia.Domain.Models.v1.Link;
            <div class="widget col-xs-12 col-sm-4">
                <h4>Announcements</h4>
                <ul>
                    <li><strong>@tmp.Title: </strong>@tmp.Description<br /><span class="small"><strong>Posted on:&nbsp;</strong>@tmp.DateTimeStamp</span></li>
                </ul>
            </div>
        }
        <div class="clearfix visible-xs"></div>
        <div class="widget col-xs-12 col-sm-4">
            <h4>Follow Me</h4>
            <a href="https://www.facebook.com/floraunce.claudia" class="btn btn-info" style="margin: 3px;"><span class="fa fa-facebook-square fa-lg"></span></a>
            <a href="http://www.youtube.com/user/ClaudiaFloraunce" class="btn btn-info" style="margin: 3px;"><span class="fa fa-youtube-square fa-lg"></span></a>
            <a href="http://instagram.com/plussizemodel_claudiafloraunce/" class="btn btn-info" style="margin: 3px;"><span class="fa fa-instagram fa-lg"></span></a>
            <a href="https://twitter.com/CFloraunce" class="btn btn-info" style="margin: 3px;"><span class="fa fa-twitter-square fa-lg"></span></a>
            <a href="https://plus.google.com/u/0/112215696494840625456/about" class="btn btn-info" style="margin: 3px;"><span class="fa fa-google-plus-square fa-lg"></span></a>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="widget col-xs-12 col-sm-4">
            <h4 class="widget-title">Advertise here</h4>
            @using (Html.BeginForm("SendMail", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="col-lg-10">
                        <input type="email" class="form-control" id="subscribeEmail" placeholder="Your e-mail address" title="Please enter a valid e-mail address" required="required"><br />
                        <input type="submit" class="form-control btn btn-info" value="Send e-mail" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
