<ul class="nav nav-tabs">
    <li class="active"><a href="#twitter" data-toggle="tab"><span class="fa fa-twitter-square fa-2x"></span></a></li>
    <li><a href="#facebook" data-toggle="tab"><span class="fa fa-facebook-square fa-2x"></span></a></li>
    <li><a href="#google" data-toggle="tab"><span class="fa fa-google-plus-square fa-2x"></span></a></li>
    <li><a href="#pinit" data-toggle="tab"><span class="fa fa-pinterest-square fa-2x"></span></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="twitter">
            <article class="col-md-4">
                <a href="https://twitter.com/CFloraunce" data-widget-id="293805224320180224" data-chrome="nofooter noheader transparent noscrollbar" data-tweet-limit="4" data-show-replies="false">Tweets by @@CFloraunce</a>
            </article>
        </div>
        <div class="tab-pane fade" id="facebook">
            <article class="col-md-4">
                <div id="fb-root"></div>
                <div class="fb-like-box" data-href="https://www.facebook.com/PlusSizeModelClaudiaFloraunce" data-width="250" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                <div class="fb-share-button" style="padding-top: 10px;" data-href="http://www.facebook.com/floraunce.claudia" data-type="box_count"></div>
                <div class="fb-follow" data-href="http://www.facebook.com/floraunce.claudia" data-colorscheme="light" data-layout="box_count" data-show-faces="true"></div>
            </article>
        </div>
        <div class="tab-pane fade" id="google">
            <article class="col-md-4">
                <div class="g-person" data-width="250" data-href="https://plus.google.com/112215696494840625456" data-theme="dark" data-rel="author"></div>
            </article>
        </div>
        <div class="tab-pane fade" id="pinit">
            <article class="col-md-4">
                <a data-pin-do="embedPin" href="http://www.pinterest.com/pin/526076800192630086/"></a>
            </article>
        </div>
    </div>
</div>