@using Claudia.Site.Helpers
@model IEnumerable<Claudia.Site.Models.MenuModel>

<nav class="navbar navbar-inverse navbar-static" role="navigation">
    @*@if (User.Identity.IsAuthenticated)
        {
            <p class="navbar-text navbar-right">Signed in as <a href="~/Account/Manage" class="navbar-link">@User.Identity.Name</a>&nbsp;(<a href="~/Account/LogOff" class="text-info">Logout</a>)</p>
        }
        else
        {
            <p class="navbar-text navbar-right"><a href="~/Account/Login" class="navbar-link">Please sign in or register</a></p>
        }*@
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-md hidden-lg" href="#">Claudia Floraunce</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @foreach (var item in Model)
                {
                    <li>
                        @Html.ActionLinkAdvance(item.ActionName, item.ControllerName, item.GetRouteValues(),
                         item.GetHtmlAttributes(), item.InnerHtml, item.RouteName)
                        @*<a href="@item.ControllerName"><span class="@item.GetHtmlAttributes()["class"]" ></span>&nbsp;@item.DisplayName</a>*@
                    </li>
                }
                @*<li><a href="~/CMS/Dashboard"><span class="glyphicon glyphicon-home icon-white"></span>&nbsp;CMS Index</a></li>
                <li><a href="~/CMS/Gallery"><span class="glyphicon glyphicon-picture icon-white"></span>&nbsp;Photobook</a></li>
                <li><a href="~/CMS/Recipe"><span class="glyphicon glyphicon-list-alt icon-white"></span>&nbsp;Claudia Recipes</a></li>
                <li><a href="~/CMS/AskClaudia"><span class="glyphicon glyphicon-bullhorn icon-white"></span>&nbsp;Ask Claudia</a></li>
                <li><a href="~/CMS/VideoBlog"><span class="glyphicon glyphicon-facetime-video icon-white"></span>&nbsp;Video blog</a></li>
                <li><a href="~/Home/Index"><span class="glyphicon glyphicon-home icon-white"></span>&nbsp;Homepage @@ CF.com</a></li>*@
            </ul>
        </div>
    </div>
</nav>